{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "strict": [
      "error",
      "global"
    ],
    "curly": "warn",
    "react/prop-types": "warn",
    "babel/semi": 1
  },
  "plugins": [
    "babel"
  ]
}
